In [1]:
import yfinance as yf

In [2]:
msft = yf.Ticker("MSFT")
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.49418998,
 'profitMargins': 0.36686,
 'grossMargins': 0.68402,
 'operatingCashflow': 89034997760,
 'revenueGrowth': 0.124,
 'operatingMargins': 0.42055,
 'ebitda': 97982996480,
 'targetLowPrice': 275,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 49479000064,
 'targetMedianPrice': 330,
 'currentPrice': 282.91,
 'earningsGrowth': 0.031,
 'currentRatio': 1.785,
 'returnOnAssets': 0.14919,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 336.82,
 'debtToEquity': 47.075,
 'returnOnEquity': 0.47151002,
 'targetHighPrice': 411,
 'totalCash': 104748998656,
 'totalDebt': 78399995904,
 'totalRevenue': 198269992960,
 'totalCashPerShare': 14.045,
 'financialCurrency': 'USD',
 'revenuePerShare': 26.45,
 'quickRatio': 1.567,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.509,
 'beta3Year': None,
 'enterpriseToEbitda': 21.265,
 '52WeekChange': -0.018797934,
 'morningStarRiskRating': None,
 'forwardEps': 12.11,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7457889792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 22.313,
 'sharesShort': 38999356,
 'sharesPercentSharesOut': 0.0052,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.72075,
 'netIncomeToCommon': 72737996800,
 'trailingEps': 9.65,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.06478733,
 'priceToBook': 12.679156,
 'heldPercentInsiders': 0.00075,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1656547200,
 'shortRatio': 1.42,
 'sharesShortPreviousMonthDate': 1655251200,
 'floatShares': 7450881454,
 'beta': 0.927206,
 'enterpriseValue': 2083563241472,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1652832000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.017,
 'priceToSalesTrailing12Months': 10.641608,
 'dateShortInterest': 1657843200,
 'pegRatio': 1.77,
 'ytdReturn': None,
 'forwardPE': 23.361685,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0052,
 'sharesShortPriorMonth': 48150433,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 283.65,
 'regularMarketOpen': 279.15,
 'twoHundredDayAverage': 295.1292,
 'trailingAnnualDividendYield': 0.00874317,
 'payoutRatio': 0.2508,
 'volume24Hr': None,
 'regularMarketDayHigh': 283.65,
 'navPrice': None,
 'averageDailyVolume10Day': 27466600,
 'regularMarketPreviousClose': 283.65,
 'fiftyDayAverage': 263.3828,
 'trailingAnnualDividendRate': 2.48,
 'open': 279.15,
 'toCurrency': None,
 'averageVolume10days': 27466600,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1660694400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 278.68,
 'currency': 'USD',
 'trailingPE': 29.3171,
 'regularMarketVolume': 16774606,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2109911597056,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 29452456,
 'dayLow': 278.68,
 'ask': 282.84,
 'askSize': 900,
 'volume': 16774606,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.23,
 'fiftyTwoWeekLow': 241.51,
 'bid': 282.72,
 'tradeable': False,
 'dividendYield': 0.0088,
 'bidSize': 900,
 'dayHigh': 283.65,
 'coinMarketCapLink': None,
 'regularMarketPrice': 282.91,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.104}

## NOTE:There is a lot of usefull info

In [4]:
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055654,0.063838,0.055654,0.061109,1031788800,0.0,0.0
1986-03-14,0.061109,0.064384,0.061109,0.063292,308160000,0.0,0.0
1986-03-17,0.063292,0.064929,0.063292,0.064384,133171200,0.0,0.0
1986-03-18,0.064384,0.064929,0.062201,0.062746,67766400,0.0,0.0
1986-03-19,0.062746,0.063292,0.061109,0.061655,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-08-01,277.820007,281.279999,275.839996,278.010010,21539600,0.0,0.0
2022-08-02,276.000000,277.890015,272.380005,274.820007,22754200,0.0,0.0
2022-08-03,276.760010,283.500000,276.609985,282.470001,23518900,0.0,0.0
2022-08-04,281.799988,283.799988,280.170013,283.649994,18098700,0.0,0.0
2022-08-05,279.149994,283.649994,278.679993,282.910004,16767900,0.0,0.0

In [6]:
msft.financials

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Research Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Minority Interest,None,None,None,None
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Selling General Administrative,27725000000.0,25224000000.0,24709000000.0,23098000000.0
Gross Profit,135620000000.0,115856000000.0,96937000000.0,82933000000.0
Ebit,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Operating Income,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2047000000.0,-2330000000.0,-2591000000.0,-2686000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,10978000000.0,9831000000.0,8755000000.0,4448000000.0
Total Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Total Operating Expenses,114887000000.0,98172000000.0,90056000000.0,82884000000.0
Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Total Other Income Expense Net,333000000.0,1186000000.0,77000000.0,729000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Applicable To Common Shares,72738000000.0,61271000000.0,44281000000.0,39240000000.0

## NOTE: We will need some data from there as well

In [7]:
msft.major_holders

        0                                      1
0   0.08%        % of Shares Held by All Insider
1  72.07%       % of Shares Held by Institutions
2  72.13%        % of Float Held by Institutions
3    5910  Number of Institutions Holding Shares

In [10]:
msft.cashflow

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Investments,1.843800e+10,2.876000e+09,6.980000e+09,5.400000e+08
Change To Liabilities,8.052000e+09,7.431000e+09,5.230000e+09,4.694000e+09
Total Cashflows From Investing Activities,-3.031100e+10,-2.757700e+10,-1.222300e+10,-1.577300e+10
Net Borrowings,-9.023000e+09,-3.750000e+09,-5.518000e+09,-4.000000e+09
Total Cash From Financing Activities,-5.887600e+10,-4.848600e+10,-4.603100e+10,-3.688700e+10
Change To Operating Activities,-3.450000e+08,1.160000e+09,-6.730000e+08,-1.542000e+09
Issuance Of Stock,1.841000e+09,1.693000e+09,1.343000e+09,1.142000e+09
Net Income,7.273800e+10,6.127100e+10,4.428100e+10,3.924000e+10
Change In Cash,-2.930000e+08,6.480000e+08,2.220000e+09,-5.900000e+08
Repurchase Of Stock,-3.269600e+10,-2.738500e+10,-2.296800e+10,-1.954300e+10
Effect Of Exchange Rate,-1.410000e+08,-2.900000e+07,-2.010000e+08,-1.150000e+08
Total Cash From Operating Activities,8.903500e+10,7.674000e+10,6.067500e+10,5.218500e+10
Depreciation,1.460000e+10,1.090000e+10,1.230000e+10,1.160000e+10
Other Cashflows From Investing Activities,-2.825000e+09,-9.220000e+08,-1.241000e+09,-1.241000e+09
Dividends Paid,-1.813500e+10,-1.652100e+10,-1.513700e+10,-1.381100e+10
Change To Inventory,-1.123000e+09,-7.370000e+08,1.680000e+08,5.970000e+08
Change To Account Receivables,-6.834000e+09,-6.481000e+09,-2.577000e+09,-2.812000e+09
Other Cashflows From Financing Activities,-8.630000e+08,-2.523000e+09,-3.751000e+09,-6.750000e+08
Change To Netincome,1.251000e+09,5.505000e+09,5.577000e+09,-2.521000e+09
Capital Expenditures,-2.388600e+10,-2.062200e+10,-1.544100e+10,-1.392500e+10

In [11]:
msft.earnings

           Revenue     Earnings
Year
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000
2022  198270000000  72738000000

In [13]:
msft.sustainability

                                     Value
2022-5
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.06
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              106
governanceScore                       5.23
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             13.75
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                             7.4
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.46
governancePercentile                  None
militaryContract                     False

## NOTE: A lot of usefull info as well

In [14]:
msft.recommendations # maybe important not sure

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-07-27 11:08:34          Stifel            Buy              main
2022-07-27 11:12:18       JP Morgan     Overweight              main
2022-07-27 11:14:20   Deutsche Bank            Buy              main
2022-07-27 12:50:51     Cowen & Co.     Outperform              main
2022-07-29 09:11:53  Wolfe Research     Outperform              main

[393 rows x 4 columns]